@model IEnumerable<TwitchBot.Model.Quote>
@{
    ViewBag.Title = "Quotes";
    ViewBag.Small = ViewContext.RouteData.Values["channelName"];
}

@section styles {
@Styles.Render("~/Content/datatable-css")
}
<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-sm">Add New</button>
<!-- modal -->
<div class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Quote</h4>
            </div>
            <div class="modal-body row">
                <h4 id="modal-title"></h4>
                <form class="form-vertical">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-xs-12" for="text">Text</label>
                        <input type="text" name="text" value=" " required class="form-control col-md-12 col-xs-12" />
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-12 col-xs-12" for="text">Attributed To</label>
                        <input type="text" name="attributedto" class="form-control col-md-12 col-xs-12"  />
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-12 col-xs-12" for="text">Attributed Date</label>
                        <div class="input-group col-md-12 col-xs-12">
                            <input type="text" name="attributeddate" value=" " required class="form-control" placeholder="MM/DD/YYYY" />
                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-12 col-xs-12" for="text">Created By</label>
                        <input type="text" name="createdby" value="@User.Identity.Name" disabled class="form-control col-md-7 col-xs-12" />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-12 col-xs-12" for="text">Created Date</label>
                        <input type="text" name="createddate" value="@DateTime.Now.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)"
                               disabled class="form-control col-md-12 col-xs-12" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>

        </div>
    </div>
</div>
<!-- end modal -->

<table class="table table-striped table-bordered">
<thead>
    <tr>
    <th>Text</th>
    <th>Attributed To</th>
    <th>Attributed Date</th>
    <th>Created By</th>
    <th>Created Date</th>
    <th></th>
    </tr>
</thead>
<tbody>
@foreach(var quote in Model)
{
    <tr data-id="@quote.ID">
        <td>@quote.Text</td>
        <td>@quote.AttributedTo</td>
        <td>@quote.AttributedDate.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
        <td>@quote.CreatedBy</td>
        <td>@quote.CreatedDate.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
        <td nowrap>
            <a class="edit" href="#">Edit</a> |
            <a class="remove" href="#">Remove</a>
        </td>
    </tr>
}
</tbody>
</table>
 
@section scripts {
@Scripts.Render("~/js/datatables/jquery.dataTables.min.js")

    <script>
    $(function () {
        $('tr a.edit').click(function (e) {
            e.preventDefault();

        });

        $('tr a.remove').click(function (e) {
            e.preventDefault();
            
            if (confirm('Are you sure you want to remove this quote?')) {
                var $this = $(this);
                var row = $this.closest('tr');

                $.post("/Quote/Delete/" + row.data('id'))
                .done(function () {
                    row.remove();
                });
            }
        });
    });
    </script>
}
